body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
  font-size: 1em;
}


.title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 0.5em;
}

.hostImg {
    border-radius: 50%;
    height: 64px;
    width: 64px;
    float: right;
    transform: rotate(90deg);
}
