body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: auto;
  margin: 0.5em;
}

.infoBox {
  flex-grow: 1;
  background-color: orange;
  margin: 0.5em;
}
