body {
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  color: #484848;
}

.title {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: auto;
  margin: 0.5em;
}

.infoBox {
  /* flex-grow: 1; */
  /* background-color: orange; */
  margin: 0.5em;
  border-bottom: 0.1px solid #DBDBDB;
}
